version: "3.9"

services:
  elearning-blue:
    image: ceruscs/elearning-app:v1.0.0
    container_name: elearning-blue
    environment:
      NODE_ENV: production
      PORT: 3000
    expose:
      - "3000"
    restart: unless-stopped
    networks:
      - root_default

  elearning-green:
    image: ceruscs/elearning-app:v1.1.0
    container_name: elearning-green
    environment:
      NODE_ENV: production
      PORT: 3000
    expose:
      - "3000"
    restart: unless-stopped
    networks:
      - root_default

networks:
  root_default:
    external: true
