.ant-select-selector{
  height: 40px !important;
  border: 1px solid #0f172a !important;
  border-radius: 8px !important;
  display: flex !important;
  align-items: center !important;
}

.ant-select-selection-item {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #0f172a !important;
  line-height: 1.6 !important;
}

.ant-select-arrow {
  color: #0f172a !important;
}